.facts{
    padding-left: 10.157%;
    padding-right: 10.157%;
    margin-top: 115px;
}

.facts-title{
    text-align: center;
}

.facts-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -55px;

    @media (max-width: 999px) {
        flex-direction: column;
    }
}

.facts-wrap{
    display: block;
    width: 49.347%;
    height: 585px;
    padding-left: 6.21%;
    padding-top: 4.576%;
    padding-right: 4.232%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media (max-width: 999px) {
        width: 80%;
        margin: auto;
        height: 400px;

        &:first-child{
            margin-top: 60px;
        }
    }

    @media (max-width: 800px) {
        height: 350px;
    }

    & span {
            font-family: 'Pragmatica';
            font-style: normal;
            font-weight: 400;
            
            position: absolute;
            right: 40px;
            bottom: 40px;
            

            @media (min-width: 800px) {
                font-size: 18px;
                line-height: 1.3;
                bottom: 50px;
            }

            @media (min-width: 1000px) {
                bottom: 70px;
            }

            @media (min-width: 1200px) {
                font-size: 28.6301px;
                    line-height: 43px;
                    bottom: 90px;
            }
        }

   &.mith{
    background-image: url('../images/Group\ 222.png');

    & span{
        color: #475569;
    }
   } 

   &.fact{
    background-image: url('../images/Group\ 2221.png');

    & span {
            color: #FFFFFF;
        }
   }

   
}

.facts-section-title{
    font-family: 'Pragmatica Extended';
    font-style: normal;
    font-weight: 700;
    line-height: 1.53;

    font-size: 30px;
    
    @media (min-width: 1000px) {
        font-size: 36px;
    }

    @media (min-width: 1200px) {
        font-size: 48px;
    }

    @media (min-width: 1400px) {
        font-size: 56px;
    }

    @media (min-width: 1600px) {
        font-size: 64px;
    }

    &.mith{
        color: #475569;
    }

    &.fact{
        color: #FFFFFF;
        text-align: end;
    }
}

.facts-list-tez{
    width: 65.562%;
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;

    

    @media (max-width: 1399px) {
        font-size: 18px;
        line-height: 1.3;
    }

        @media (max-width: 800px) {
            width: 90%;
            font-size: 12px;
            line-height: 17px;
        }


    @media (max-width: 1200px) {
        margin-top: 30px;
    }
    &.mith{
        color: #526073;
    }

    &.fact{
        color: #FFFFFF;
    }
}

.facts-list-text{
    width: 65.562%;
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 34px;

    @media (max-width: 1000px) {
        width: 70%;
        margin-top: 20px;
        font-size: 16px;
            line-height: 22px;
    }

        @media (max-width: 800px) {
            width: 90%;
            font-size: 12px;
                line-height: 17px;
        }

    &.mith{
        color: #526073;
    }

    &.fact{
        color: #FFFFFF;
    }
}

.facts-image{
    position: absolute;
    right: 7%;
    width: 9.273%;

    @media (max-width: 1399px) {
        top: 28%;
    }
}