.hero{
    display: flex;
    justify-content: center;
}

.hero-text-wrap{
    width: 38.9%;
    margin-right: 10px;
}

.hero-slogan{
    font-family: 'Pragmatica';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        color: #475569;
}