.prises{
    margin-top: 90px;
    width: 100%;

    & h2{
        text-align: center;
        margin-bottom: 50px;
    }
}

.prises-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;

    & li{
        width: 38.854%;
        height: 280px;
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;

        &:not(:first-child){
            margin-left: 8%;
        }
    }
}

.prises-image-wrap{
    display: block;
    width: 34%;
    height: 100%;
    position: relative;
}

.prises-bg{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.prases-text-wrap{
    width: 60%;

    & h3{
        font-family: 'Pragmatica Extended';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 45px;
            color: #475569;
            margin-bottom: 20px;
    }

    & p{
        font-family: 'Pragmatica Extended';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #475569;
            width: 60%;
    }
}

.prises-img{
    display: block;
    height: 80%;
    width: auto;
    z-index: 6;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}