@import './variables.scss';

@font-face {
    font-family: 'Pragmatica';
    font-weight: 400;
    src: url('../fonts/pragmaticac.otf');
}

@font-face {
    font-family: 'Pragmatica';
    font-weight: 700;
    src: url('../fonts/pragmatica-bold.ttf');
}

@font-face {
    font-family: 'Pragmatica Extended';
    font-weight: 400;
    src: url('../fonts/PragmaticaExtended-Book.woff2');
}

@font-face {
    font-family: 'Pragmatica';
    font-weight: 700;
    src: url('../fonts/PragmaticaExtended-Bold.woff');
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }


body{
    margin: 0;
}
button{
    &:hover{
        cursor: pointer; 
    }
}

a, p, h1, h2, h3, h4, span{
    font-family: 'Pragmatica';
    color: #000000;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol {
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.first-section{
    // background-image: url('../images/20-Grainy-Background\ \(2\).png');
    background-image: url('../images/Untitled.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.second-section{
    background-image: url('../images/20-Grainy-Background.png');
    margin-top: 145px;
}

h2{
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 700;
    line-height: 1.53;
    color: #475569;
    font-size: 28px;
    
    @media (min-width: 1000px){
        font-size: 36px;
    }

    @media (min-width: 1200px) {
        font-size: 48px;
    }

    @media (min-width: 1400px) {
        font-size: 56px;
    }

    @media (min-width: 1600px) {
        font-size: 64px;
    }
}

.blur{
    background: linear-gradient(201.01deg, #FFFFFF 13.88%, rgba(255, 255, 255, 0.520054) 60.49%, rgba(255, 255, 255, 0) 76.11%);
    backdrop-filter: blur(27.5px);
  backdrop-filter: blur(28px); // This be the blur
  height: 100vh;
	width: 100%;
}

@import './hero';
@import './facts';
@import './about';
@import './terms';
@import './expert';
@import './dates';
@import './prises';
@import './header';