@import './variables.scss';


*{
    box-sizing: border-box;
}


body{
    margin: 0;
}
button{
    &:hover{
        cursor: pointer; 
    }
}

a, p, h1, h2, h3, h4, span{
    font-family: 'Pragmatica';
    color: #000000;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol {
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section{
    background-image: url('../images/20-Grainy-Background\ \(2\).png');
    
}

.second-section{
    background-image: url('../images/20-Grainy-Background.png');
}

h2{
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 98px;
    color: #475569;
}

@import './hero';
@import './facts';
@import './about';